[user]
	email = marctinius@dataon.com
	name = marc
[merge]
	tool = nvim
[mergetool "nvim"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c \"$wincmd w\" -c \"wincmd J\"
	trustExitCode = true
[mergetool]
	keepBackup = false
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[safe]
	directory = /home/mc/marc/custom/source/soulbackend
	directory = /home/mc/.sfclone/repositories/SunFish7BackEnd/branch/master
	directory = /home/mc/marc/custom/source/soulbackend
	directory = /home/mc/.sfclone/repositories/SunFish7BackEnd/branch/master
	directory = /home/mc/marc/custom/source/soulbackend
	directory = /home/mc/.sfclone/repositories/SunFish7BackEnd/branch/master
	directory = /home/mc/marc/custom/source/soulbackend
	directory = /home/mc/.sfclone/repositories/SunFish7BackEnd/branch/master
	directory = /home/mc/marc/custom/source/soulbackend
	directory = /home/mc/.sfclone/repositories/SunFish7BackEnd/branch/master
